body {
  font-family: "Montserrat", sans-serif;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  width: calc(100% / 3 - 10px); 
  margin-bottom: 20px; 
}

@media (max-width: 767px) {
  .grid-item {
    width: 100%;
  }
}
