.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  width: calc(100% / 3 - 10px); /* Adjust the width as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
}

@media (max-width: 767px) {
  .grid-item {
    width: 100%;
  }
}
